.login {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.loginCard {
  height: 30vh;
  width: 15vw;
  background-color: #3b4446;
  border-radius: 7px;
  text-align: center;
  padding: 1%;
}
.header {
  color: #aeb6b8;
  font-family: sans-serif;
  font-size: 4vh;
  font-weight: 400;
}
.loginForm {
  display: flex;
  flex-flow: column wrap;
  padding: 1%;
}

#userName,
#password,
#submit {
  margin: 1%;
  padding: 3%;
}

#userName,
#password {
  background: transparent;
  border: none;
  border-bottom: 1px solid #aeb6b8;
  background-repeat: no-repeat;
  text-indent: 10%;
  outline: none;
  color: #aeb6b8;

}

#userName::placeholder,
#password::placeholder {
  font-family: FontAwesome;
  font-style: italic;
  color: #aeb6b8;
}

#userName {
  background-image: url('../images/user.png');
}

#password {
  background-image: url('../images/lock.png');
}

#submit {
  margin: 0 auto;
  margin-top: 10%;
}
