h1 {
  margin-block-start: 10px;
  padding-left: 40px;
  color: #3b4446;
}
h1.title {
  padding-left: 40px;
  color: #aeb6b8;
  font-weight: 200;
  font-family: sans-serif;
}

h6 {
  margin: 15px;
  padding-left: 40px;
  font-family: sans-serif;
  font-weight: 70;
  color: #aeb6b8;
}
a {
  text-decoration: none;
}

hr {
  color: #aeb6b8;
}

img {
  height: 40px;
  width: 40px;
  border: 1px solid #aeb6b8;
  border-radius: 50px;
  margin: 20px;
  margin-top: 5px;
  margin-left: 40px;
}

.miniImg {
  border-radius: none;
  border: none;
}

.navBar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-right: 10px;
}

.todo {
  display: flex;
  justify-content: end;
}

.left {
  height: 900px;
  width: 400px;
}

.list {
  margin-top: 40px;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.right {
  height: 900px;
  width: 400px;
}

.log {
  height: 120px;
  width: 600px;
  background-color: #3b4446;
  border-radius: 7px;
  border-left: 8px solid #aeb6b8;
  margin-bottom: 15px;
}

.todoItem {
  padding-top: 10px;
  background-color: #3b4446;
  height: 800px;
  width: 900px;
  margin-left: 270px;
  margin-top: 20px;
  border-radius: 7px;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid #aeb6b8;
  font-size: 27px;
  font-weight: 300;
  color: #aeb6b8;
  text-align: center;
  outline: none;
}

textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #aeb6b8;
  font-size: 27px;
  font-weight: 300;
  color: #aeb6b8;
  outline: none;
}
.taskBox {
  display: flex;
  justify-content: center;
}

.task {
  height: 40px;
  width: 600px;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 200;
  color: #aeb6b8;
  padding-left: 25px;
}

.checkBox {
  zoom: 1.1;
  height: 30px;
  width: 30px;
  border: 1px solid #aeb6b8;
  border-radius: 5px;
  margin: 0px;
  margin-right: 20px;
}

.taskInput {
  width: 550px;
}

.hidden {
  display: none;
}

/*
  #2dbe60 green
  #eff2f3 white
  #3b4446 dark grey
  #7b868a light grey
  #aeb6b8 very light grey
*/
