body {
  background: whitesmoke;
}

h1 {
  margin: 0;
  padding: 0;
  color: #3b4446;
  font-size: 3vh;
}

h1.title {
  color: #aeb6b8;
  font-weight: 200;
  font-family: sans-serif;
  font-size: 2vh;
}

h6 {
  font-family: sans-serif;
  font-weight: 70;
  color: #aeb6b8;
  outline: none;
  margin: 2px 0px 0px 2px;
}

a {
  text-decoration: none;
}

hr {
  color: #aeb6b8;
}

#todoTitle {
  color: #aeb6b8;
  font-weight: 200;
  font-family: sans-serif;
  font-size: 2vh;
  width: 15vw;
  border: none;
}

.createButton {
  margin-right: 5px;
}
.logoutButton {
  margin-left: 5px;
  margin-bottom: 1.5px;
}

.deleteButton {
  height: 2.5vh;
  padding: 0% 5%;
  margin-top: 2%;
}

.save,
.close {
  height: 3.5vh;
}

.createButton,
.logoutButton .deleteButton,
.save,
.close {
  cursor: pointer;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.todo-container {
  display: flex;
  align-items: flex-start;
}

.list {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.todo {
  display: flex;
  justify-content: space-between;
  background-color: #3b4446;
  border-radius: 7px;
  margin-bottom: 2%;
  padding: 2.5%;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.indicator {
  border-left: 8px solid #aeb6b8;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.todoDisplay {
  border-radius: 7px;
  width: 20vw;
  padding: 2%;
  background-color: #3b4446;
  margin: 2%;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

input,
h6 {
  background: none;
  border: none;
  border-bottom: 1px solid #aeb6b8;
  font-size: 2.5vh;
  font-weight: 300;
  color: #aeb6b8;
  text-align: center;
  outline: none;
}

input[type="checkbox"] {
  margin-top: 3%;
}

.taskBox {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.task {
  width: 19vw;
  font-family: sans-serif;
  font-weight: 70;
  font-size: 2vh;
  color: #aeb6b8;
  outline: none;
  margin: 2px 0px 0px 2px;
}

.taskInput {
  width: 550px;
  margin-bottom: 1px;
  font-size: 1.5vh;
}

.searchImage {
  height: 3vh;
  margin-bottom: -9px;
}

.search {
  font-size: 2vh;
  padding: 0%;
  width: 15vw;
  color: #3b4446;
}
.hidden {
  display: none;
}
.selection {
  outline: none;
  margin-top: 5px;
  margin-left: 10px;
  height: 2vh;
}