h1 {
  margin: 0;
  padding: 0;
  color: #3b4446;
  font-size: 3vh;
}
h1.title {
  padding-left: 1%;
  color: #aeb6b8;
  font-weight: 200;
  font-family: sans-serif;
  font-size: 2.5vh;
}

h6 {
  font-family: sans-serif;
  font-weight: 70;
  color: #aeb6b8;
  outline: none;
}

a {
  text-decoration: none;
}

hr {
  color: #aeb6b8;
}

#todoTitle {
  color: #aeb6b8;
  font-weight: 200;
  font-family: sans-serif;
  font-size: 1.5vh;
}

.createButton {
  height: 3vh;
  border: 1px solid #aeb6b8;
  border-radius: 50%;
  margin-right: 10px;

}

.deleteButton,
.openButton {
  height: 2.3vh;
  padding: 0% 5%;
}

.save,
.close {
  height: 3vh;
}

.createButton,
.deleteButton,
.openButton {
  cursor: pointer;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.todo {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.log {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  background-color: #3b4446;
  border-radius: 7px;
  border-left: 8px solid #aeb6b8;
  margin-bottom: 2%;
  padding: 2%;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.container {
  width: 70%;
  display: flex;
  justify-content: center;
}

.todoDisplay {
  border-radius: 7px;
  width: 30%;
  padding: 2%;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid #aeb6b8;
  font-size: 2.5vh;
  font-weight: 300;
  color: #aeb6b8;
  text-align: center;
  outline: none;
}

textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #aeb6b8;
  font-size: 27px;
  font-weight: 300;
  color: #aeb6b8;
  outline: none;
}
.taskBox {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.task {
  height: 40px;
  width: 600px;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: 200;
  color: #aeb6b8;
}

.taskInput {
  width: 550px;
  margin-bottom: 1px;
  font-size: 1.5vh;
}

.hidden {
  display: none;
}

/*
  #2dbe60 green
  #eff2f3 white
  #3b4446 dark grey
  #7b868a light grey
  #aeb6b8 very light grey
*/
